<template>
  <ul v-if="comments != {}">
    <li v-for="comment in comments" :key="comment.id">
      <div class="comment">
        <strong>{{ comment.author }}</strong
        >:
        <p v-for="p in comment.content.split('\n')" :key="p">{{ p }}</p>
        <time v-bind:datetime="comment.created">{{ comment.created }}</time>
      </div>
    </li>
  </ul>
</template>
<script>
import { getComments } from "../lib/api.js";

export default {
  props: ["id"],
  data() {
    return {
      comments: {},
    };
  },
  async created() {
    const id = this.$route.params.id;

    this.comments = await getComments(id);
  },
  mounted() {
    this.$root.$on("new-comment", () => {
      const id = this.$route.params.id;

      getComments(id).then((comments) => {
        this.comments = comments;
      });
    });
  },
};
</script>
