<template>
  <b-form v-on:submit.prevent="submitComment">
    <h3>Comments</h3>
    <hr />
    <b-form-group
      id="input-group-1"
      label="Name:"
      label-for="input-1"
      description=""
    >
      <b-form-input
        id="input-1"
        v-model="form.name"
        type="text"
        placeholder="Enter your name"
        required
      ></b-form-input>
    </b-form-group>
    <b-form-group
      id="input-group-2"
      label="Email address:"
      label-for="input-2"
      description="We'll never share your email with anyone else."
    >
      <b-form-input
        id="input-2"
        v-model="form.email"
        type="email"
        placeholder="Enter your email"
        required
      ></b-form-input>
    </b-form-group>
    <b-form-group
      id="input-group-3"
      label="Comment:"
      label-for="textarea"
      description=""
    >
      <b-form-textarea
        id="textarea"
        v-model="form.content"
        placeholder="Enter something..."
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </b-form-group>
    <b-button type="submit" variant="primary">Submit</b-button>
    <b-button type="reset" variant="danger">Reset</b-button>
  </b-form>
</template>
<script>
import { createComment } from "../lib/api.js";

export default {
  props: ["id"],
  methods: {
    submitComment(e) {
      e.target.reset()
      createComment(
        this.id,
        this.form.name,
        this.form.email,
        this.form.content,
        null
      ).then(() => {
        this.$root.$emit("new-comment");
      });
    },
  },
  data() {
    return {
      form: {
        content: "",
        name: "",
        email: "",
      },
    };
  },
};
</script>
