<template>
  <div>
    <ul id="example-1">
      <li v-for="item in items" :key="item.title">
        <Summary
          v-bind:id="item.id"
          v-bind:title="item.title"
          date="24th July, 2021"
        />
      </li>
    </ul>
  </div>
</template>
<script>
import Summary from "./Summary.vue";
import { getPosts } from "../lib/api.js";

export default {
  name: "Home",
  metaInfo: {
    title: "Home",
  },
  components: {
    Summary,
  },
  data() {
    return {
      items: null,
    };
  },
  async beforeCreate() {
    this.items = await getPosts();
  },
};
</script>
