<template>
  <div>
    <div style="text-align: right">
      <b-button v-if="!loggedIn" v-b-modal.modal-1>Sign in</b-button>
      <span v-if="loggedIn">
        {{ user.username }}

        <router-link to="/new"
          ><b-button variant="primary">New post</b-button></router-link
        >
        <b-button variant="danger" @click="logOut()">Sign out</b-button>
      </span>
    </div>
    <b-modal
      id="modal-1"
      hide-backdrop
      content-class="shadow"
      @ok="onSubmit"
      title="Sign in"
    >
      <b-form v-on:submit.prevent="onSubmit">
        <span v-if="loginErrorMessage != null">
          {{ loginErrorMessage }}
        </span>
        <b-form-group
          id="input-group-1"
          label="Username:"
          label-for="input-1"
          description=""
        >
          <b-form-input
            id="input-1"
            v-model="form.username"
            type="text"
            placeholder="Enter username"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-2"
          label="Password:"
          label-for="input-2"
          description=""
        >
          <b-form-input
            id="input-2"
            v-model="form.password"
            type="password"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import { auth, storeToken, getToken, signOut } from "../lib/auth.js";
import { getAuthenticatedUser } from "../lib/api.js";
import router from "../router/index.js";
export default {
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
      loginErrorMessage: null,
      loggedIn: getToken() !== null,
      user: {
        username: ""
      },
    };
  },
  async created() {
    const token = await getToken();
    if (token !== null)
      this.user = await getAuthenticatedUser();
  },
  async updated() {
    this.loggedIn = getToken() !== null;
    const token = await getToken();
    if (token !== null)
      this.user = await getAuthenticatedUser();
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();

      auth(this.form.username, this.form.password)
        .then((j) => {
          this.loginErrorMessage = null;
          this.loggedIn = true;
          j["username"] = this.username;
          storeToken(j);
          this.$nextTick(() => {
            this.$bvModal.hide("modal-1");
            this.form.username = this.form.password = "";
          });
        })
        .catch(() => {
          this.loginErrorMessage = "Log in data incorrect";
          this.loggedIn = null;
        });
    },
    logOut() {
      signOut();
      this.loggedIn = null;
      router.push({ path: "/" });
    },
  },
};
</script>
