<template>
  <div>
    <h1>New post</h1>
    <b-form v-on:submit.prevent="submitComment">
      <b-form-group
        id="input-group-1"
        label="Title:"
        label-for="input-1"
        description=""
      >
        <b-form-input
          id="input-1"
          v-model="form.title"
          type="text"
          placeholder="Enter the title"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Keywords">
        <b-form-tags
          input-id="keywords"
          tag-variant="primary"
          v-model="form.keywords"
        ></b-form-tags>
      </b-form-group>

      <b-form-group
        id="input-group-3"
        label="Content:"
        label-for="textarea"
        description=""
      >
        <b-form-textarea
          id="textarea"
          v-model="form.content"
          placeholder="Enter something..."
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-form-group>
      <b-button type="submit" variant="success">Save</b-button>
    </b-form>
  </div>
</template>
<script>
import { getToken } from "../lib/auth.js";
import { createPost } from "../lib/api.js";

import router from "../router/index.js";

export default {
  methods: {
    submitComment() {
      createPost(this.form.title, this.form.content, this.form.keywords).then(
        () => {
          router.push({ path: "/" });
        }
      );
    },
  },
  data() {
    return {
      form: {
        content: "",
        title: "",
        keywords: [],
      },
    };
  },
  beforeCreate() {
    const loggedIn = getToken() !== null;

    if (!loggedIn) router.push({ path: "/" });
  },
};
</script>
