<template>
  <div v-if="post != {}">
    <article>
      <header>
        <h1>{{ post.title }}</h1>
        <address class="author">
          By <a rel="author" href="#">{{ post.author }}</a>
        </address>
        <time>{{ post.created }}</time>
        <nav>
          <ul id="example-1">
            <li v-for="keyword in post.keywords" :key="keyword">
              <a href="#">{{ keyword }}</a>
            </li>
          </ul>
        </nav>
      </header>
      <p v-for="p in post.content.split('\n')" :key="p">{{ p }}</p>
    </article>
    <CommentBox v-bind:id="post.id" />
    <CommentList v-bind:id="post.id" />
  </div>
</template>
<script>
import { getPost } from "../lib/api.js";
import CommentBox from "./CommentBox.vue";
import CommentList from "./CommentList.vue";

export default {
  metaInfo() {
    return {
      title: this.post.title,
    };
  },
  data() {
    return {
      post: {
        content: "",
      },
    };
  },
  components: {
    CommentBox,
    CommentList,
  },
  async mounted() {
    const id = this.$route.params.id;

    this.post = await getPost(id);
  },
};
</script>
