<template>
  <article>
    <header>
      <h2>
        <router-link v-bind:to="'post/' + id">{{ title }}</router-link>
      </h2>
      <time>{{ date }}</time>
      <p>{{ summary }}</p>
    </header>
  </article>
</template>
<script>
export default {
  props: ["id", "title", "summary", "date"],
};
</script>
