<template>
  <div id="app">
    <Login />
    <b-nav>
      <router-link to="/">Home</router-link>
    </b-nav>
    <router-view></router-view>
  </div>
</template>

<script>
import Login from "./components/Login.vue";

export default {
  name: "App",
  metaInfo: {
    title: "Blog",
    titleTemplate: "%s | Blog",
  },
  components: {
    Login,
  },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: auto;
  margin-top: 60px;
  max-width: 940px;
}
</style>
